<div class="jumbotron">
    <h1 class="text-center">Mountain Tracker&reg;&trade; Alpha</h1>
    <h3 class="text-center">Welcome to Mountain Tracker</h3>
    <blockquote>
        <p>
            Mountain Tracker strives to give timeback to mountain climbers by providing accessible, reliable, and comprehensive climbing information in one place. But it's more than just a tool, it's a community. It's a place to connect with your community. It's a place to access education resources or partner with experienced climbers. It's the place you can go when you're having a bad day at work and you want to escape to something you love.
        </p>
        <footer>By Angelo Sanches, Ryan Shields, Armando Sanches, and Larra Caldie</footer>
    </blockquote>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get Started Here</h2>
        <p>Get started with planning here on the web site!</p>
        @if (Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.IDToken] == null)
        {
            <p>@Html.ActionLink("Create a Account and Get Started \u00BB", "Create", "Account", new { }, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Or Login with Your to Get Started again \u00BB", "Index", "Login", new { }, new { @class = "btn btn-default" })</p>
        }
        else
        {
            <p>@Html.ActionLink("Get Started \u00BB", "Index", "Account", new { }, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        <h2>For Android</h2>
        <p>Have an android? Get it from the Google Play Store here and start planning and viewing from your phone!</p>
        <p><a class="btn btn-default" @*href=""*@>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For iOS</h2>
        <p>Have a IPhone? Get it from the App Store here and start planning and viewing from your phone!</p>
        <p><a class="btn btn-default" @*href=""*@>Learn more &raquo;</a></p>
    </div>
</div>
