<div class="jumbotron">
    <h1>Mountain Tracker&reg;&trade; Alpha</h1>
    <h3>Welcome to Mountain Tracker</h3>
    <blockquote>
        <p>
            The Mountain Tracker Apps are a family of apps that are dedicated to creating, organizing, and delivering mountaineering data. Our team and their technical lead Angelo Sanches has worked hard to bring the vision of Ryan Shields to life as a global app that will unifi the world of rock moutaineering at the click of a button.<br>
            We hope to use this data to create and bring together a community for rock climbing and other various mountaineering activities.
        </p>
        <footer>By Angelo Sanches, Ryan Shields, Armando Sanches, and Larra Shields</footer>
    </blockquote>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get Started Here</h2>
        <p>Get started with planning here on the web site!</p>
        <p><a class="btn btn-default" @*href=""*@>Login and Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For Android</h2>
        <p>Have an android? Get it from the Google Play Store here and start planning and viewing from your phone!</p>
        <p><a class="btn btn-default" @*href=""*@>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For iOS</h2>
        <p>Have a IPhone? Get it from the App Store here and start planning and viewing from your phone!</p>
        <p><a class="btn btn-default" @*href=""*@>Learn more &raquo;</a></p>
    </div>
</div>
