<h3 class="text-center">MeetTheTeam</h3>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Ryan Shields</div>
        <div class="panel-body">Some Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Angelo Sanches</div>
        <div class="panel-body">Some Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Armando Sanches</div>
        <div class="panel-body">Some Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Larra Caldie</div>
        <div class="panel-body">Some Content</div>
    </div>
</div>
