
@{
    ViewBag.Title = "Quick Route Editor";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-cookies.js"></script>
<script src="~/Scripts/AngularJSRouteQuickEdit.js"></script>
<h2>Quick Route Editor</h2>
<div ng-app="NGRouteQuickEdit" ng-controller="RouteQuickEditController">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Country
                </label>
                <select name="SelectCountry" id="SelectCountry" ng-model="Countries.SelectedID" ng-change="SelectedCountry(Countries.SelectedID)">
                    <option selected value="null">Select an option</option>
                    <option ng-repeat="Country in Countries.FullList" value="{{Country.ID}}">{{Country.CountryCode}} - {{Country.EnglishFullName}}</option>
                </select>
                <div>
                    <p>Handled by DB admin as static ISO standard table</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Province Or State
                </label>
                <select disabled name="SelectProvinceOrState" id="SelectProvinceOrState" ng-model="ProvincesOrStates.SelectedID" ng-change="SelectedProvinceOrState(ProvincesOrStates.SelectedID)">
                    <option value="null">Select an option</option>
                    <option ng-repeat="ProvinceOrState in ProvincesOrStates.FullList" value="{{ProvinceOrState.ID}}">{{ProvinceOrState.RegionCode}} - {{ProvinceOrState.EnglishFullName}}</option>
                </select>
                <div>
                    <p>Handled by DB admin as static table</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Region
                </label>
                <select disabled name="SelectRegion" id="SelectRegion" ng-model="Regions.SelectedID">
                    <option value="null">Select an option</option>
                    <option ng-repeat="Region in Regions.FullList" value="{{Region.ID}}">{{Region.EnglishFullName}} - {{Region.RegionCode}}</option>
                </select>
            </div>
            <div class="row" style="padding-bottom:20px">
                <div class="col-sm-4">
                    <button disabled id="AddRegion" class="btn btn-default" data-toggle="modal" data-target="#AddRegionModal">Add Region</button>
                </div>
                <div class="col-sm-4">
                    <button disabled id="EditRegion" class="btn btn-default" ng-click="Regions.EditRegion(Regions.SelectedID)">Edit Region</button>
                </div>
                <div class="col-sm-4">
                    <button disabled id="DeleteRegion" class="btn btn-default" ng-click="Regions.DeleteRegion(Regions.SelectedID)">Delete Region</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a District
                </label>
                <select disabled name="SelectDistrict" id="SelectDistrict" ng-model="Districts.SelectedID">
                    <option value="null">Select an option</option>
                    <option ng-repeat="District in Districts.FullList" value="{{District.ID}}">{{District.EnglishFullName}} - {{District.DistrictCode}}</option>
                </select>
            </div>
            <div class="row" style="padding-bottom:20px">
                <div class="col-sm-4">
                    <button disabled id="AddDistrict" class="btn btn-default" ng-click="Districts.Add()">Add District</button>
                </div>
                <div class="col-sm-4">
                    <button disabled id="EditDistrict" class="btn btn-default" ng-click="Districts.EditRegion(Districts.SelectedID)">Region Edit District</button>
                </div>
                <div class="col-sm-4">
                    <button disabled id="DeleteDistrict" class="btn btn-default" ng-click="Districts.DeleteRegion(Districts.SelectedID)">Region Edit District</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Zone
                </label>
                <select disabled name="SelectDistrictZone" id="SelectDistrictZone" ng-model="DistrictZones.SelectedID">
                    <option value="null">Select an option</option>
                    <option ng-repeat="DistrictZone in DistrictZones.FullList" value="{{DistrictZone.ID}}">{{DistrictZone.EnglishFullName}} - {{DistrictZone.ZoneCode}}</option>
                </select>
            </div>
            <div class="row" style="padding-bottom:20px">
                <div class="col-sm-4">
                    <button disabled class="btn btn-default" ng-click="DistrictZones.Add()">Add Zone</button>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="DistrictZones.EditRegion(DistrictZones.SelectedID)">Region Edit Zone</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="DistrictZones.DeleteRegion(DistrictZones.SelectedID)">Region Edit Zone</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Area
                </label>
                <select disabled name="SelectZoneArea" id="SelectZoneArea" ng-model="ZoneAreas.SelectedID">
                    <option value="null">Select an option</option>
                    <option ng-repeat="ZoneArea in ZoneAreas.FullList" value="{{ZoneArea.ID}}">{{ZoneArea.EnglishFullName}} - {{ZoneArea.AreaCode}}</option>
                </select>
            </div>
            <div class="row" style="padding-bottom:20px">
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ZoneAreas.Add()">Add Area</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ZoneAreas.EditRegion(ZoneAreas.SelectedID)">Region Edit Area</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ZoneAreas.DeleteRegion(ZoneAreas.SelectedID)">Region Edit Area</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right">
                    Select a Climbing Wall
                </label>
                <select disabled name="SelectClimbingWall" id="SelectClimbingWall" ng-model="ClimbingWalls.SelectedID">
                    <option value="null">Select an option</option>
                    <option ng-repeat="ClimbingWall in ClimbingWalls.FullList" value="{{ClimbingWall.ID}}">{{ClimbingWall.EnglishFullName}} - {{ClimbingWall.ZoneCode}}</option>
                </select>
            </div>
            <div class="row" style="padding-bottom:20px">
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ClimbingWalls.Add()">Add Climbing Wall</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ClimbingWalls.EditRegion(ClimbingWalls.SelectedID)">Edit Climbing Wall</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default" ng-click="ClimbingWalls.DeleteRegion(ClimbingWalls.SelectedID)">Edit Climbing Wall</a>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="height:max-content;max-height:900px;overflow:scroll;padding-left:0;">
        <table class="table table-striped small" style="padding-left:0;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>English Full Name</th>
                    <th>Climbing Wall ID</th>
                    <th>Wall Route Number</th>
                    <th>Type</th>
                    <th>Difficulty</th>
                    <th>Rating</th>
                    <th>Gear List</th>
                    <th>Hieght In Meters</th>
                    <th>Hieght In Feet</th>
                    <th>Number Of Pitchs</th>
                    <th>First Ascent</th>
                    <th>First Free Ascent</th>
                    <th>Sun AM</th>
                    <th>Sun PM</th>
                    <th>Filtered</th>
                    <th>Sunny</th>
                    <th>Shady</th>
                    <th>Dries Fast</th>
                    <th>Dry In Rain</th>
                    <th>Windy</th>
                    <th>Angles Are With Slabs</th>
                    <th>Angles Are With Verticals</th>
                    <th>Angles Are With Over Hangs</th>
                    <th>Angles Are With Roofs</th>
                    <th>Rock Falls</th>
                    <th>Seepage</th>
                    <th>Stick Clip</th>
                    <th>Runout</th>
                    <th>Reachy</th>
                    <th>Dyno</th>
                    <th>Pumpy</th>
                    <th>Techy</th>
                    <th>Power</th>
                    <th>Pock Slash Hole</th>
                    <th>Crimpy</th>
                    <th>360 Picture</th>
                    <th>360 3D Picture</th>
                    <th>Info On</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Route in Routes">
                    <td>{{Route.ID}}</td>
                    <td>{{Route.EnglishFullName}}</td>
                    <td>{{Route.Type}}</td>
                    <td>{{Route.WallRouteNumber}}</td>
                    <td>{{Route.Type}}</td>
                    <td>{{Route.Difficulty}}</td>
                    <td>{{Route.Rating}}</td>
                    <td><a class="btn btn-default">View Gear List</a></td>
                    @*<td>{{Route.GearList}}</td>*@
                    <td>{{Route.HieghtInMeters}}</td>
                    <td>{{Route.HieghtInFeet}}</td>
                    <td>{{Route.NumberOfPitchs}}</td>
                    <td>{{Route.FirstAscent}}</td>
                    <td>{{Route.FirstFreeAscent}}</td>
                    <td>{{Route.SunAM}}</td>
                    <td>{{Route.SunPM}}</td>
                    <td>{{Route.Filtered}}</td>
                    <td>{{Route.Sunny}}</td>
                    <td>{{Route.Shady}}</td>
                    <td>{{Route.DriesFast}}</td>
                    <td>{{Route.DryInRain}}</td>
                    <td>{{Route.Windy}}</td>
                    <td>{{Route.AnglesAreWithSlabs}}</td>
                    <td>{{Route.AnglesAreWithVerticals}}</td>
                    <td>{{Route.AnglesAreWithOverHangs}}</td>
                    <td>{{Route.AnglesAreWithRoofs}}</td>
                    <td>{{Route.RockFalls}}</td>
                    <td>{{Route.Seepage}}</td>
                    <td>{{Route.StickClip}}</td>
                    <td>{{Route.Runout}}</td>
                    <td>{{Route.Reachy}}</td>
                    <td>{{Route.Dyno}}</td>
                    <td>{{Route.Pumpy}}</td>
                    <td>{{Route.Techy}}</td>
                    <td>{{Route.Power}}</td>
                    <td>{{Route.PockSlashHole}}</td>
                    <td>{{Route.Crimpy}}</td>
                    <td>{{Route.360Picture}}</td>
                    <td>{{Route.3603DPicture}}</td>
                    <td><a class="btn btn-default">View Info</a></td>
                    <td><a class="btn btn-default">Edit</a></td>
                    <td><a class="btn btn-default" ng-click="Route.Delete(Route.ID)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="AddRegionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Region</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-right">
                            ID
                        </label>
                        <div class="col-sm-10">
                            <input disabled value="Auto set by database" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right">
                            ProvinceOrStateID @*Regions*@
                        </label>
                        <div class="col-sm-10">
                            <input disabled value="{{ProvincesOrStates.SelectedID}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right">
                            Enter a  Full English Name
                        </label>
                        <div class="col-sm-10">
                            <input ng-bind="Regions.AddNew.EnglishFullName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-right">
                            Enter a Region Code
                        </label>
                        <div class="col-sm-10">
                            <input ng-bind="Regions.AddNew.RegionCode" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Regions.Add()">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*public string RouteInfo { get; set; } add as a tool tip or click bit*@
</div>

